* {
    font-family: "inter", "sans-sarif";
}

.scrolbar::-webkit-scrollbar-track {
    border-radius: 12px;
    box-shadow: inset 0 0 6px white;
}

.scrolbar::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 12px;
    outline: unset;
}

.scrolbar::-webkit-scrollbar {
    width: 2px;
    height: 4px;
    border-radius: 12px;
    background: #ffff;
}

